<accordion class="panel">
	<accordion-group *ngFor="let postItem of visiblePosts;" heading="{{postItem.post.title}}" (click)="getAuthor(postItem)">
   		{{postItem.post.body}}
     	<author [author]="postItem.author"></author>
  	</accordion-group>
</accordion>

<div class="text-center">
	<pagination [totalItems]="postItems.length"
				[itemsPerPage]="visiblePostsCount"
				(pageChanged)="pageChanged($event)">
	</pagination>
</div>

